.cache
/.classpath
db
dist
.DS_Store
**/*.DS_Store
eclipse
*.eml
.history
.idea
/.idea_modules
*.iml
lib
lib_managed
log
logs
modules
/out
precompiled
/.project
project/project
project/target
/RUNNING_PID
server.pid
/.settings
target
.target
test-result
tmp
/.idea
/*.iml
/*.ipr
.idea_modules
bin
*.iws
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
worksheet.sc
.bsp/
null/
/build.log
/.metals/metals.log
/.metals/metals.mv.db
**/graal_diagnostics_*.zip
