.small-hint {
  font-size: 14px;
  color: #6f777b;
}

.pull-right {
  float: right !important;
}

.navigation-links {
  margin: 0;
  li{
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}