@()

@defining(play.core.PlayVersion.current) { version =>
<!DOCTYPE html>
    <html lang="en">
        <head>
            @views.html.header.render()
        </head>
        <body>
            <br />
            <div id="wrapper" class="panel">
                <a class="govuk-link" href="@controllers.routes.EiscdValidateController.validation()">Validate Bank Details</a><br/>
                <a class="govuk-link" href="@controllers.routes.EiscdValidateController.metadataLookup()">Metadata Lookup</a><br/>
            </div>
            <br />
        </body>
    </html>
}