@import config.FrontendAppConfig

@this(header: views.html.header)

@()(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@defining(play.core.PlayVersion.current) { version =>
<!DOCTYPE html>
    <html>
        <head>
            @header()
        </head>
        <body>
            <div id="wrapper" class="panel">
                <br/>
                <label class="govuk-label--l">@messages("bars.header")</label><br/><br/>
                <a class="govuk-link" href="@controllers.routes.BarsController.validation()">
                @messages("bars.options.validate")</a><br/><br/>
                <a class="govuk-link" href="@controllers.routes.BarsController.metadataLookup()">
                @messages("bars.options.metadata")</a><br/><br/>
                <a class="govuk-link" href="@controllers.routes.BarsController.modChecking()">
                @messages("bars.options.modcheck")</a><br/><br/>
            </div>
            <br />
        </body>
    </html>
}