@()

@defining(play.core.PlayVersion.current) { version =>
<!DOCTYPE html>
    <html lang="en">
        <head>
            @views.html.header.render()
        </head>
        <body>
            <div id="wrapper" class="panel">
                <br/>
                <label class="govuk-label--l">Bank Meta Data Lookup</label><br/><br/>
                <form id="metadata-form" method="post" action="/metadataLookup" class="govuk-form" style="width: 50%">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="sortCode">
                            Sort Code:
                        </label>
                        <input class="govuk-input" id="sortCode" name="sortCode" type="text">
                    </div>
                    <button type="submit" class="govuk-button"> Search</button>
                </form>
                <div>
                    <hr/>
                </div>
            </div>
        </body>
    </html>
}