@import config.FrontendAppConfig

@this(
        mainTemplate: views.html.main_template,
        header: views.html.header,
        form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
)

@(accountForm: AccountForm, modcheckResult: ModCheckResult)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)


@defining(play.core.PlayVersion.current) { version =>

    @mainTemplate(title = Messages("bars.modcheckResults.title"), bodyClasses = None) {
    <!DOCTYPE html>
        <html>
            <head>
            @header()
            </head>
            <body>
                <div id="wrapper" class="panel">
                    <br/>

                    <table>
                        <tr><td align="right"><label class="govuk-label--l">@messages("bars.modcheckResults.header")</label></td>
                            <td><b> @accountForm.sortCode / @accountForm.accountNumber </b></td></tr>
                        <tr><td align="right">@messages("bars.modcheckResults.accountNumberWithSortCodeIsValid")</td>
                            <td align="center"><b>@modcheckResult.accountNumberWithSortCodeIsValid</b></td></tr>
                        <tr><td align="right">@messages("bars.modcheckResults.nonStandardAccountDetailsRequiredForBacs")</td>
                            <td align="center"><b>@modcheckResult.nonStandardAccountDetailsRequiredForBacs</b></td></tr>
                    </table>
                </div>
                <br />
            </body>
        </html>
    }
}