@import config.FrontendAppConfig

@this(
        mainTemplate: views.html.main_template,
        form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
)

@(validationResult: ValidationResult)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)


@defining(play.core.PlayVersion.current) { version =>

    @mainTemplate(title = Messages("bars.validateResults.title"), bodyClasses = None) {
    <!DOCTYPE html>
        <html>
            <head>
            @views.html.header.render()
            </head>
            <body>
                <div id="wrapper" class="panel">
                    <br/>
                    <label class="govuk-label--l">@messages("bars.validateResults.title")</label><br/><br/>
                    @validationResult <br />
                    Is Valid: <b>@validationResult.accountNumberWithSortCodeIsValid</b>
                </div>
                <br />
            </body>
        </html>
    }
}