@(validationResult: ValidationResult)
@import play.filters.csrf.CSRF

@defining(play.core.PlayVersion.current) { version =>
<!DOCTYPE html>
    <html lang="en">
        <head>
            @views.html.header.render()
        </head>
        <body>
            <div id="wrapper" class="panel">
                <br/>
                <label class="govuk-label--l">Validate Bank Details Results</label><br/><br/>
                Is Valid: <b>@validationResult.accountNumberWithSortCodeIsValid</b>
            </div>
        </body>
    </html>
}